node_modules
vendor
.env
.env.backup
.env.production
.git
.gitignore
public/build
public/hot
public/storage
bootstrap/cache/*.php
storage/logs/*
storage/pail
*.log
.vscode
.idea
.fleet
.nova
.zed
tests
